.logo-size{
    margin-left: 25px;
    font-size: xx-large;
}

.flashes h5{
    background-color: rosybrown;
    line-height: 3;
    
}

.green.lighten-2 {
    background-color: rosybrown;
}

.btn-small{
    font-size: xx-small;
    margin-top: 15px;
}


.collapsible-header i{
    margin-top: 10px;
}

.nav-style{
    background: linear-gradient(to bottom, #d5d5d561, rgb(246 176 200));
}

.mobile-nav{
    background: linear-gradient(to bottom, #d5d5d5fa, rgb(246 176 200));
}

/*recipes.html*/

.search-bar{
    background: linear-gradient(to bottom, rgb(158 158 158 / 22%), rgb(255 255 255));

}



.carousel{
    background: linear-gradient(to bottom, #d5d5d561, rgb(246 176 200 / 53%));
}


/*recipe-name*/

.font-name{
    margin-left: 15px;
}


/*login.html*/

.register-link{
   color: #fc929d
}

.register-link:hover{
    color: red;
}

/*register.html*/

.card-panel{
    background: linear-gradient(to bottom, #d5d5d561, rgb(246 176 200 / 53%));
}

.login-link{
    color: #fc929d
}

.login-link:hover{
    color: red;
}

/*recipes.html*/

.img-responsive{
    max-height: 200px;
}

.margin-container{
    margin-top: 15px;
}