{% extends "base.html"%}
{% block content%}

<h3>Create a recipe</h3>

<div class="row">
    <form class="col s12" method="POST" action="{{ url_for('create_recipe') }}">
        <!--foo Category name-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-folder prefix"></i>
                <select id="category_name" name="category_name" class="validate" required>
                    <option value="" disabled selected>Choose Category</option>
                    {% for category in categories %}
                    <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                    {% endfor %}
                </select>
                <label for="category_name">Recipe Category</label>
            </div>
        </div>
        <!--Recipe name-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pen-nib prefix"></i>
                <input id="recipe_name" name="recipe_name" minlength="3" maxlenght="50" type="text" class="validate"
                    required>
                <label for="recipe_name">Recipe Name</label>
            </div>
        </div>
        <!--Serving number-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-chair prefix"></i>
                <input id="serving" name="serving" type="text" class="validate" required>
                <label for="serving">Serving</label>
            </div>
        </div>
        <!--Recipe ingredients-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-mortar-pestle prefix"></i>
                <textarea id="ingredients" name="ingredients" class="materialize-textarea"></textarea>
                <label for="ingredients">Ingredients</label>
            </div>
        </div>
        <!--Cooktime-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-stopwatch prefix"></i>
                <input id="cooktime" name="cooktime" type="text" class="validate" required>
                <label for="cooktime">Cooktime</label>
            </div>
        </div>
        <!--Make the recipe by steps-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-shoe-prints prefix"></i>
                <textarea id="steps" name="steps" class="materialize-textarea"></textarea>
                <label for="steps">Steps</label>
            </div>
        </div>
        <!--Tools needed-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-utensil-spoon prefix"></i>
                <input id="tools" name="tools" type="text" class="validate" required>
                <label for="tools">Tools</label>
            </div>
        </div>
        <!--Button submit form-->
        <div class="row">
            <button class="btn-large  waves-light col s12 center-align" type="submit">Submit
                <i class="material-icons right"></i>
            </button>
        </div>
    </form>
</div>
{% endblock %}