{% extends "base.html"%}
{% block content%}

<h3>Create a recipe</h3>

<div class="row">
    <form class="col s12" method="POST" action="{{ url_for('create_recipe') }}">


        <!--foo Category name-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-folder prefix"></i>
                <select id="category_name" name="category_name" class="validate" aria-label="choose category food"
                    required>
                    <option value="" disabled selected>Choose Category</option>
                    {% for category in categories %}
                    <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                    {% endfor %}
                </select>
                <label for="category_name">Recipe Category</label>
            </div>
        </div>

        <!--Recipe image-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-image prefix"></i>
                <input id="img_recipe" name="img_recipe" type="text" class="validate" aria-label="image recipe field"
                    required>
                <label for="img_recipe">Image</label>
            </div>

        </div>

       
        <!--Recipe name-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pen-nib prefix"></i>
                <input id="recipe_name" name="recipe_name" minlength="3" maxlenght="50" type="text" class="validate"
                    aria-label="recipe name field" required>
                <label for="recipe_name">Recipe Name</label>
            </div>
        </div>


        <!--Serving number-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-chair prefix"></i>
                <input id="serving" name="serving" type="text" class="validate" aria-label="serving number field"
                    required>
                <label for="serving">Serving</label>
            </div>
        </div>


        <!--Recipe ingredients-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-mortar-pestle prefix"></i>
                <textarea id="ingredients" name="ingredients" class="materialize-textarea"
                    aria-label="recipe ingredients area"></textarea>
                <label for="ingredients">Ingredients</label>
            </div>
        </div>


        <!--Cooktime-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-stopwatch prefix"></i>
                <input id="cooktime" name="cooktime" type="text" class="validate" aria-label="cooktime field" required>
                <label for="cooktime">Cooktime</label>
            </div>
        </div>


        <!--Make the recipe by steps-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-shoe-prints prefix"></i>
                <textarea id="steps" name="steps" class="materialize-textarea"
                    aria-label="steps recipe area"></textarea>
                <label for="steps">Steps</label>
            </div>
        </div>
      
        
        <!--Button submit form-->
        <div class="row">
            <button class="btn-large  #ffcdd2 red lighten-4 col s6 offset-s3 center-align"
                aria-label="create recipe button" type="submit">Create Recipe
                <i class="material-icons right"></i>
            </button>
        </div>
    </form>
</div>
{% endblock %}