{% extends "base.html" %}
{% block content %}

   
      
   <!--Card image-->
   <div class="row">
      {% for recipe in recipes %}
        <div class="col s12 m5">
         <div class="card">
            <div class="card-image">
               <img src="{{ recipe.img_recipe }}">
            </div>

            <ul class="collapsible popout">

               <li>
                  <div class="collapsible-header">
                     <i class="material-icons"></i>
                     <h5>{{ recipe.recipe_name }}</h5>

                  </div>
                  <div class="collapsible-body">
                     <h6> {{ recipe.category_name }}</h6>
                     <p>Serving: {{ recipe.serving }}</p>
                     <p>Ingredients: {{ recipe.ingredients }}</p>
                     <p>Cooktime: {{ recipe.cooktime }}</p>
                     <p>Steps: {{ recipe.steps }}</p>
                     <p>Tools: {{ recipe.tools }}</p>

                  </div>
               </li>

            </ul>
         </div>
       </div>
     {% endfor %}
   </div>

{% endblock %}
